.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #0000008b;
    z-index: 100;
}

.modal_body {
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    max-width: 300px;
    min-height: 100vh;
    background: #fff;
    z-index: 101;
}