.li {
    cursor: pointer;
}

.pc {
    position: relative;
    display: block;
    box-sizing: border-box;
    overflow: hidden;
}


.pc:hover .mask {
    opacity: 0;
}

.pc:hover .hover {
    opacity: 1;
}

.pc .mask {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
    transition: all 0.2s;
    opacity: 1;
}

.pc .mask img {
    padding: 30px 10%;
    width: auto;
}

.pc .hover {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.2s;
}

.pc .hover>img {
    width: auto;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}

.pc .txt {
    position: absolute;
    bottom: 5%;
    left: 5%;
    transition: all 0.2s;
    color: #fff;
    z-index: 10;
}

.pc .txt strong {
    display: block;
    color: #fff;
    font-size: 18px;
    line-height: 1.08;
}

.pc .txt span {
    display: block;
    font-size: 16px;
    color: #fff;
    margin-top: 12px;
}

.pc .icon {
    position: absolute;
    top: 5%;
    right: 5%;
}

.mobile {
    position: relative;
}

.mobile .icon {
    position: absolute;
    top: 3%;
    right: 5%;
    width: 3vw;
    z-index: 10;
}

.mobile .txt {
    margin-top: .5vw;
}

.mobile .txt strong {
    display: block;
    font-size: 3vw;
    line-height: 1.3;

}

.mobile .txt .category {
    color: #000;
    font-size: 2.5vw;
    font-weight: bold;
}

.mobile .txt span {
    display: block;
    font-size: 3vw;
    font-weight: bold;
}





@media screen and (max-width:768px) {}