.header {}

.inner {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 60px;
    margin: 0 auto;
    width: var(--inner-w);
    max-width: var(--inner-mw);
    position: relative;
}

.header h1 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 30vw;
    max-width: 200px;
}

.all_menu {
    position: absolute;
    left: 0;
    width: 30px;
    height: 30px;
}

.navbar {
    display: flex;
    align-items: center;
    gap: 2px;
}

.navbar li:not(:last-child) {
    margin: 0 5px 0 0;
}

.menu_icon {
    display: block;
    height: 24px;
}

.menu_icon svg {
    color: #000;
}

.button {
    padding: 0;
    height: 24px;
    background: transparent;
    border: none;
    color: #000;
    font-weight: 600;
    cursor: pointer;
}

@media screen and (max-width: 1024px) {
    .menu_icon {
        height: 1.5rem;
    }
}