:root {
  --inner-w: 90%;
  --inner-mw: 1200px;

}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Noto Sans KR', sans-serif;
}


img {
  width: 100%;
}

.inner {
  width: var(--inner-w);
  max-width: var(--inner-mw);
  margin: auto;
  position: relative;
}